{% extends 'dashboard/paneladministracion.html' %}
 
{%load static%}

{% block title %}
    Cambiar Contraseña
{% endblock title %}
{% block main %}
    <section>
        <div class="all-admin my-5">
            <div class="container-fluid">
                <div class="row mb-4 mt-2">
                     
                    <h1 class="text-center fw-bold fst-italic">Cambio de Contraseña <span><i class="fa-solid fa-key"></i></span></h1> 
                </div>
                <div class="row">
                    <form action="" method="POST" class="form-floating">
                        {% csrf_token %}

                        
                        <div class="mb-3">
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Error!</strong> {{ error | escape }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <label for="password1" class="form-label">{{form.password1.label}}</label>
                            {{form.password1}}
                        </div>

                        <div class="mb-3">
                            
                            <label for="password2" class="form-label">{{form.password2.label}}</label>
                            {{form.password2}}

                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                                        <strong>Lo sentimos se ha encontrado el siguiente error!</strong> {{ error | escape }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        

                        <button class="btn btn-primary mt-2" type="submit">Cambiar</button>
                        <a href="{% url 'administrador:paneladministracion' %}" class="btn btn-danger mt-2">Cancelar</a>
                    </form>
                
                </div>
            </div>
        </div>
    </section>
 
{% endblock main %}