{% extends 'dashboard/paneladministracion.html' %}
 
{%load static%}

{% block title %}
    Relacion Año/Mes
{% endblock title %}
{% block main %}
<div  id="loading-screen"  > </div>

<section>
   <div class="all-admin my-5">
       <div class="container-fluid">
           <div class="row">
               <!--TABLA-->

               
                <!--TABLA-->
            

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4 ">
                    <button class="btn-crud h-100 w-100"  onclick="abrir_modal_creacion('{% url 'administrador:crearaniomestransparencia' %}')" >
                        <div class="card border-left-danger shadow h-100 py-2 rounded-pill">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        Añadir Nueva Relación Año/Mes
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-add earn-icon wallet fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div> 
                
                
                
                    
    
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4 ">
                    <button class="btn-crud h-100 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <div class="card border-left-danger shadow h-100 py-2 rounded-pill">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            Listar Relaciones Año/Mes
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-list earn-icon wallet fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>    
            
            

           

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="col-md-12 col-sm-12">
                            <div class="order-list">
                                <p class="order-ac-title">Listado de Relaciones Año/Mes</p>

                                <div class="data-table-section table-responsive">
                                    <table id="tabla_anio_mes_transparencia" class="table table-striped dt-responsive nowrap" cellspacing="0" style="width:100%">
                                        <thead>
                                    
                                            <tr>
                                                <th># DE RELACIÓN</th>
                                                <th>AÑO</th>
                                                <th>MES</th>
                                                <th>OPCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody class="order-view-tb">
                
                                        </tbody>
                                        
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>

       </div>
   </div>
</section>

<div class="modal fade" id="crear" role="dialog">

</div>

<div class="modal fade" id="editar" role="dialog">

</div>

<div class="modal fade" id="eliminar" role="dialog">
    
</div>

{% endblock main %}

{% block extrajs %} 
    
    <script src="{% static 'assets/js/aniomestransparencia/aniomestransparencia.js' %}"></script>

    <script>
            
        $(document).ready(function(){
            var screen = $('#loading-screen');
            configureLoadingScreen(screen);

            $('.do-request').on('click',function(){
                $.get(response)
                    .done(function(result){
                        $().text(JSON.stringify(result,null,2));

        
                    })
                    .fail(function(error){
                        console.error(error);
                    })
                
            })                          



        });
        function configureLoadingScreen(screen){
            $(document)
                .ajaxStart(function(){
                    screen.fadeIn();
                })
                .ajaxStop(function(){
                    screen.fadeOut();
                });
                }


    </script>


{% endblock extrajs %} 