<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-light" style="background-color: #312682;">
        <h5 class="modal-title">Edicion de : {{ object }}</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  
      <form method = "post" enctype="multipart/form-data" id="form_edicion" action="{% url 'archivero:actualizardocumentos' object.pk %}">
        {% csrf_token %}
        <div class="modal-body mt-4">
          <div  id="erroresEdicion"></div>
            {{form.as_p}} 
  
            <label for="" class="form-label">Documento Actual:</label>
            <a href="/media/{{object.documento_doc}}" class="form-control rounded-pill text-dark" target="_blank_"> {{object.documento_doc}} </a> 
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="cerrar_modal_edicion()">Cancelar</button>
            <button id="boton_creacion" type="button" class="btn btn-primary" onclick="editar();">Confirmar</button>
          </div>
        </form>
      </div>
  </div>
  
  
  
  {% block extrajs %} 
      <script>
        $("#documento_doc").fileinput({
          uploadAsync: false,
          showUpload: false,
          language:"es",
          purifyHtml: true,
          allowedFileExtensions: [ 'pdf'],
          maxFileSize: 1024*2,
          minFileSize: 24,
        });
  
      </script>
  {% endblock extrajs %}
  