{% extends 'dashboard/paneladministracion.html' %}
 
{%load static%}

{% block title %}
    Listar Documentos
{% endblock title %}
{% block extracss %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

{% endblock extracss %} 

{% block menuleft %}
    <div class="left-menu">
            <div class="menubar-content">
                <nav class="animated bounceInDown">
                    <ul id="sidebar">
                        <li class="active">
                            <a href="{% url 'administrador:paneladministracion' %}"> <i class="fas fa-home"></i>REGRESAR AE-UTC</a>
                        </li>
                
                        <li>
                            <a href="{% url 'archivero:lectura_documentos' %}"> <i class="fa-solid fa-group-arrows-rotate"></i>Lectura</a>
                        </li>

                    
                        
                        <li>
                            <a href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i>CERRAR SESIÓN</a>
                        </li>

                    </ul>
                </nav>
            </div>
    </div>
{% endblock menuleft %}

{% block main %}


<div  id="loading-screen"  > 
    
</div>

<section class="dashboard-top-sec">
    <div class="all-admin my-5">
        <div class="container-fluid">
            <h1 class="text-center mt-4 mb-5 p-4">Bienvenido a tu Gestor de Archivos</h1>

           
            <div class="row">
                
                <div class="col-xl-2 col-lg-6 col-md-6  d-none d-xl-block align-self-center">
                   
                    <h1 class="title mt-2 fs-2 fw-bold mb-2 text-center">Archivero </h1>
	                
                   


                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center justify-content-center" >
                {% if join %}

                    <div class="bg-transparent text-dark" id="jstree_demo"  >
                            {% for inner in join %}
                                <ul>
                                    <li class=" mb-4 shadow-sm p-2 bg-body rounded">
                                        {{inner.0}} 
                                            <ul>
                                                {% for inner2 in join2 %}
                                                    {% if inner.1 == inner2.4 %}
                                                        <li class="mt-2 mb-2" >
                                                            {{inner2.0}} 
                                                            <ul>
                                                                {% for inner3 in join3 %}
                                                                    {% if inner2.3 == inner3.4  %}
                                                                
                                                                    <li data-jstree='{"opened":true,"selected":false, "icon":"bi-filetype-pdf  text-primary"}' class="mt-2 mb-2" >
                                                                        <a href='/media/{{inner3.1}}'><span onClick="javascript:window.location.href='/media/{{inner3.1}}'" title="click para abrir archivo"> {{inner3.1}} </span></a>
                                                                    </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                    </li>
                                </ul> 
                            {% endfor %}
                        </div>
                    {%else%}
                    <h5  class="text-center mt-4 mb-4 p-4" style="border: 1px solid black;"> No se a creado ninguna carpeta de año</h5>

                    {%endif%}
                </div>
                
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 ">
                    <h2 class="title mt-2 fw-bold mb-2 text-center">Acciones</h2>
                   
                    <div class="row text-center">
                        <div class="col-lg-6 col-md-6">
                            <a href="{% url 'archivero:inicio_anios' %}" class="status-tb-btn btn-primary rounded-pill w-100 pt-2 pb-2 mt-2 mb-2 "><i class="fas fa-folder-plus"></i> Año</a>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <a href="{% url 'archivero:inicio_temas' %}" class="status-tb-btn btn-primary rounded-pill w-100 pt-2 pb-2 mt-2 mb-2 "><i class="bi bi-folder-plus"></i> Tema</a> 
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <a href="{% url 'archivero:vista_documentos' %}" class="status-tb-btn btn-primary rounded-pill w-100 pt-2 pb-2 mt-2 mb-2 "><i class="bi bi-folder-plus"></i> Relacion Año/Mes</a>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <button onclick="abrir_modal_creacion('{% url 'archivero:creardocumentos' %}')" class="status-tb-btn btn-primary rounded-pill w-100 pt-2 pb-2 mt-2 "><i class="bi bi-file-earmark-plus"></i> Documento</button>
                        </div>

                    </div> 
                   
                </div>
    
            </div>
        </div>
    </div>


</section>






<section>
   <div class="all-admin my-5">
       <div class="container-fluid">
           <div class="row mb-4">
                <div class=" text-center " >
                    <button class="btn-crud h-100 w-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <div class="card border-left-danger shadow h-100 py-2 rounded-pill">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            Listar  Documentos (Archivero)
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-list earn-icon wallet fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>    
       
            </div> 
                <div class="collapse" id="collapseExample">
                    <div class="row">
                            <div class="col col-md-6 mx-auto">
                                <button class="btn-crud w-100 mb-4" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                                    <div class="card border-left-primary shadow h-100 py-2 rounded-pill">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        Generar Reportes
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-solid fa-file-lines earn-icon earning fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                    
                            
                                <div class="collapse collapse-horizontal mb-4" id="collapseWidthExample">
                                    <div class="card card-body" >
                                        {%if join3 %}
                                        
                                            {% for inner in join %}
                                            
                                            <a href="{% url 'archivero:reporte_documentos' inner.1 %}" class="btn btn-sm btn-outline-primary btn-bottom-right"> <i  class="bi bi-clipboard2-check-fill"></i>{{inner.0}}</a>
                                        
                                                
                                            {%endfor%}
                                            
                                            {%else%}
                                            <p align="center"><br> No se han cargado documentos para generar reportes</p>
                                            {%endif%}               
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card card-body">
                        <div class="col-md-12 col-sm-12">
                            <div class="order-list">
                                <p class="order-ac-title">Listado de Documentos</p>
    
                                <div class="data-table-section table-responsive">
                                    <table id="tabla_documentos" class="table table-striped dt-responsive nowrap" cellspacing="0" style="width:100%">
                                        <thead>
                                    
                                            <tr>
                                                <th>#</th>
                                                <th>FECHA DE SUBIDA</th>
                                                <th>AÑO/TEMA</th>
                                                <th>DOCUMENTO</th>
                                                <th class="d-none" >CONTENIDO</th>
                                                <th>OPCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody class="order-view-tb">
                
                                        </tbody>
                                        
                                    </table>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>















         
   </div>
</section>


<div class="modal fade" id="crear" role="dialog" ></div>

<div class="modal fade" id="editar" role="dialog"></div>

<div class="modal fade" id="eliminar" role="dialog"></div>

{% endblock main %}

{% block extrajs %} 
    
    <script src="{% static 'assets/js/archivero/documentos/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        $(function () {
            $("#jstree_demo").jstree({
            "types" : {
                "default" : {
                "icon" : "bi bi-folder text-primary"
            },
            "file" : {
                "icon" : "bi-filetype-pdf",
            },
            "demo" : {
                "icon" : "bi-filetype-pdf"
            }
            },
            "plugins" : ["search","sort", "types", "wholerow","conditionalselect"],

            });

        });

    </script>

    <script>
            
        $(document).ready(function(){
            var screen = $('#loading-screen');
            configureLoadingScreen(screen);

            $('.do-request').on('click',function(){
                $.get(response)
                    .done(function(result){
                        $().text(JSON.stringify(result,null,2));

        
                    })
                    .fail(function(error){
                        console.error(error);
                    })
                
            })                          



        });
        function configureLoadingScreen(screen){
            $(document)
                .ajaxStart(function(){
                    screen.fadeIn();
                })
                .ajaxStop(function(){
                    screen.fadeOut();
                });
                }


    </script>

{% endblock extrajs %} 